{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-10">
   <h1 class="text-warning mb-3 border-bottom">Service</h1>
 <div class="row text-center text-white mb-1">
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1 i-color"></i></div>
   <h5>SCO</h5>
   <p class="ss-color">Loram dream sit in case of manay</p><p>file life is nonthing</p>

  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1 i-color"></i></div>
   <h5>Web Design</h5>
   <p class="ss-color">Loram dream sit in case of manay</p><p>file life is nonthing</p>
   </div>

 <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1 i-color"></i></div>
   <h5>Web Development</h5>
   <p class="ss-color">Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>Android</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>iOS</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>Adeverting</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>Logo Design</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>Hosting</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
  <div class="col-sm-4">
  <div><i class="fas fa-yin-yang fa-2x mb-1"></i></div>
   <h5>Support</h5>
   <p>Loram dream sit in case of manay</p><p>file life is nonthing</p>
  </div>
 
 </div>
</div>
{% endblock content %}