{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-10">
  <h1 class="text-warning mb-3 border-bottom">'Contact Us'</h1>
  <div class="row text-center text-white mb-1">
   <div class="col-sm-5">
   <h3>HTML/CSS</h3>
   <div class="progress">
    <div class="progress-bar bg-danger role="progressbar"
     style="width:100%" aria-valuenow="100" aria-valuemin="0"
     aria-valuemax="100">100%</div>
  </div>
 </div>
 
 
 <div class="col-sm-5">
   <h3>Javascript</h3>
   <div class="progress">
    <div class="progress-bar bg-stript role="progressbar"
     style="width:80%" aria-valuenow="90" aria-valuemin="0"
     aria-valuemax="100">80%</div>
 </div>
 </div>
 <div class="col-sm-5 mt-5">
   <h3>Java Programing</h3>
   <div class="progress">
    <div class="progress-bar bg-stript role="progressbar"
     style="width:50%" aria-valuenow="90" aria-valuemin="0"
     aria-valuemax="100">45%</div>
</div>
</div>
<div class="col-sm-5 mt-5">
   <h3>Python</h3>
   <div class="progress">
    <div class="progress-bar bg-stript role="progressbar"
     style="width:96%" aria-valuenow="90" aria-valuemin="0"
     aria-valuemax="100">95%</div>
  </div>
</div>  
<div class="col-sm-5 mt-5">
   <h3>SQL</h3>
   <div class="progress">
    <div class="progress-bar bg-stript role="progressbar"
     style="width:60%" aria-valuenow="90" aria-valuemin="0"
     aria-valuemax="100">65%</div>
</div>
</div>
<div class="col-sm-5 mt-5">
   <h3> Django</h3>
   <div class="progress">
    <div class="progress-bar bg-stript role="progressbar"
     style="width:96%" aria-valuenow="90" aria-valuemin="0"
     aria-valuemax="100">95%</div> 
</div>
</div>     

{% endblock content  %}