{% load static %}
<div class="text-center">
<div class="border-bottem border-warning h-100 ">
   <img src="{% static 'core/images/m.jpg' %}"alt="ProfilePic"
   class="img-fluid rounded-circle mt-5" width="100px" hieght="100px">
   <h3 class="text-white mt-5 .st-font">VikasRana</h3>
</div>
 <hr class="border-light">
<nav class="nav flex-column text-center">
    <a href=" {% url 'home' %} " class="nav-link {{home}}">Home</a>
    <a href=" {% url 'Service'  %} " class="nav-link">Servies</a>
    <a href=" {% url 'skill'  %} " class="nav-link">Skill</a>
    <a href=" {% url 'contact' %} " class="nav-link">Contact</a>
 </nav>   
</div>    